<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telink.file.selector">

    <application>
        <activity
            android:name=".FileSelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".FileSearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>
