[req]
prompt = no
distinguished_name = req_distinguished_name

[req_distinguished_name]
#Country
C=CN
#State
ST=ShangHai
#Organization
O=Telink-Semi
#Organization Unit
OU=Telink
#CN(common name): use device uuid, CID(Company ID, big endianness), PID(Product ID, big endianness) of unprovision node.
CN=001BDC08-1021-0B0E-0A0C-000B0E0A0C00 BCID:0211 BPID:0001
#emailAddress
emailAddress=support@telink-semi.com

[v3_req]
authorityKeyIdentifier = keyid
subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
keyUsage = Certificate Sign, CRL Sign
#TODO: static oob
#2.25.234763379998062148653007332685657680359 = DER:31:7a:6f:16:58:44:72:74:15:10:33:62:5a:fb:c4:f1
certificatePolicies = critical,@pol

[pol]
policyIdentifier = 2.16.840.1.101.3.2.1.48.1
