[req]
prompt = no
distinguished_name = req_distinguished_name

[req_distinguished_name]
#Country
C=CN
#State
ST=ShangHai
#Organization
O=Telink-Semi
#Organization Unit
OU=Telink
#common name
CN=001BDC08-1021-0B0E-0A0C-000B0E0A0C00 
#emailAddress
emailAddress=support@telink-semi.com

[v3_req]
authorityKeyIdentifier = keyid
subjectKeyIdentifier = hash
basicConstraints = CA:TRUE
keyUsage = Certificate Sign, CRL Sign

