<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SigMeshOCDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25589A0E272115D700F4F880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25589A29272115DB00F4F880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25589A33272115DB00F4F880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
